.fz-16{
    font-style: 16px;
}
.fz-20{
    font-style: 20px;
}
.fz-24{
    font-style: 24px;
}
.fz-30{
    font-style: 24px;
}
.fz-32{
    font-style: 24px;
}
.fz-40{
    font-style: 24px;
}
.fz-48{
    font-style: 24px;
}
.bold{
    font-weight: bold;
}
.thin{
    font-weight: 300;
}
.italic{
    font-style: italic;
}
.text-color-primary{
    color: $primary;
}
.text-color-dark{
    color: $dark;
}
.text-color-success{
    color: $success;
}
.text-color-warning{
    color: $warning;
}
.text-color-danger {
    color: $danger;
}