.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w50{
    width: 50px;
}
.w100{
    width: 100px;
}
.w300{
    width: 100px;
}
.w5500{
    width: 500px;
}
.h-100{
    height: 100%;
}
.h-50{
    height: 50%;
}
.h50{
    height: 50px;
}
.h100{
    height: 100px;
}
.h300{
    height: 100px;
}
.h5500{
    height: 500px;
}